* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #3498bd;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #004274;
    position: relative;
    height: 70px;
    border-radius: 5px;
    padding:5px;
}
@media(max-width:600px){
    nav{
        height:70px;
    }
    .logo{
        font-size: .0rem;
    }
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}


nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #3498bd;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #fff;
    font-size: 30px;
    /* display:none; */
}

@media (max-width:600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
        max-height: 400px;
    }

}

/* Header-item-css */

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.firstsection>div {
    width: 35%;
}

.leftsection {
    font-size: 3rem;
    /* padding-left: 1.5rem; */
}
@media(max-width:600px){
    .leftsection{
        font-size: 2.5rem;
    }
    /* #nav ul #menuList{
        max-height: ;
    } */
}

.rightsection img {
    width: 100%;
    border-radius: 15px;
    border: 2px solid rgb(72, 23, 118);

}

.purple {
    color: rgb(209, 204, 213);
}

#element {
    color: rgb(209, 204, 213);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
}

.text-gray {
    color: gray;
}

hr {
    border: 0;
    background: rgb(51, 51, 163);
    height: 1.2px;
    margin: 40px 84px;
}


/* about */
#about {
    padding: 80px 0;
    color: #ababab;

}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    height: auto;
}

.row .about-col-1 {
    width: 600px;
    /* padding-right: 50px; */
}

.row .about-col-2 {
    width: 700px;
    padding-left: 11px;
    font-size: 1.2rem;
    /* background-color: rgb(11, 35, 57); */
    border-radius: 10px;
    color: black;
}
@media(max-width:600px){
    .row .about-col-2{
        font-size: 1rem;
    }
}

.about-col-1 img {
    width: 550px;
    margin: 20px 0 0 40px;
    border-radius: 15px;
}

.about-col-1 img:hover {
    width: 650px;
    border: 2px solid #262626;

}

.about-col-2 h1 {
    display: block;
}

/* .tab-title {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
} */

@media (max-width:600px) {
    .about-col-1 img {
        width: 300px;
    }

}

/* tab creation css */

.tab_box{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border-bottom:2px solid rgba(299,299,299);
    border-radius:20px;
    font-size:10px;
    position:relative;
}
.tab_box .tab_btn{
    font-size:18px;
    font-weight:600;
    color:#919191;
    background-color:none;
    padding:18px;
    cursor:pointer;
    height:20px;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 15px;

}
.tab_box .tab_btn.active{
    color:#7360ff;
    border-color: red;
}
.content_box{
    padding:20px;

}
.content_box .content{
    display:none;
}

.content_box .content.active{
    display:block;
}
.content_box .content h2{
    margin-bottom:10px;

}
.line{
    position: absolute;
    top:62px;
    left: 0;
    width:90px;
    height:5px;
    background-color: #7360ff;
    border-radius:10px;
    translate: all .3s each-in-out;
}


/* service */
/* Service css */

#services {
    padding: 30px 0;
}

#service.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    height: auto;
    padding: 10px 10%;
}

.sub-title {
    font-size: 75px;
    font-weight: 600;
    color: #fff;
    margin-left: 100px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 50px 100px 50px 100px;
}

@media (max-width:600px) {
    #services-list {
        margin: 0px 0 0 0;
    }

    .sub-title {
        margin: 30px;
    }
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    transition-behavior: normal, normal;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    transition-property: background, transform;
}

.services-list div:hover {
    background-color: red;
    font-size: 20px;
    font-weight: 200;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 1.2rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* Contact Me */
@media only screen and (max-width: 600px) {
    .sub-title {
        font-size: 40px;
    }
}

.link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.link-left {
    display: grid;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    font-size: 1.2rem;
    margin-left: 20px;
}

@media(min-width:600px) {
    .link-left {
        font-size: 1.8rem;
    }
}

.fa-solid fa-paper-plane {
    font-size: 30rem;
}

.link-right {
    display: grid;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 4rem;
    padding: 0px 0px 0 20px;
}
@media(min-width:600px){
    .link-right{
        font-size: 5rem;
    }
    /* .link-left{
        font-size: 5rem;
    } */
}

.social-icon {
    font-size: 3rem;
}

.row {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* font-size: rem; */
}

.contact-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 45%;
}

.contact-left h1 {
    font-weight: 600px;
    color: #a363aa;
    font-size: 35px;
    margin: 0 0 5px 0;
}

@media(min-width:600px) {
    .contact-left h1 {
        font-size: 60px;
        /* width:100px; */
    }
}
@media(max-width:600px) {
    .contact-left h1 {
        font-size: 35px;
        width:200px;
    }
}

.contact-left hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.contact-left .contact-inputs {
    /* width:400px; */
    height: 50px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-weight: 500;
    color: #666;
    border-radius: 14px;
    font-size: 25px;

}

@media(min-width:600px) {
    .contact-left .contact-inputs {
        width: 600px;
    }
}

.contact-left textarea {
    padding-top: 15px;
    height: 140px;
    border-radius: 15px;
}

.contact-left .contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}
.contact-right{
    width:35%;
}

.contact-right img {
    width: 90%;
    border-radius: 14px;
}
@media(max-width:600px){
    .contact-right img{
        width:600px;
    }
}

.contact-right img:hover {
    width: 600px;
    border: 2px solid #262626;
}

@media (max-width:800px) {
    .contact-input {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .copyright {
        font-size: 14px;
    }
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.copyright i {
    color: #ff004f;
}

.fa-solid,
.fas {
    font-weight: 900;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
